@import "vars";

.contact-page{
  .main-wrapper{
    padding-top: 60px;
    .container{
      padding-bottom: 60px;
    }
  }
  .wpcf7{
    font-size: 20px;
    label{
      font-size: 20px;
      display: block;
      margin-bottom: 20px;
    }
    .wpcf7-not-valid-tip{
      font-size: 14px !important;
    }
    .wpcf7-response-output{
      border-color: $almamons-blue !important;
      font-size: 18px;
    }
  }
  .contact-map{
    height: 400px;
  }
  input:focus, textarea:focus{
    outline: none;
    &::placeholder{
      color: lighten($black-light, 70%);
    }
  }
  input, textarea{
    border: none;
    padding: 15px;
    &:focus{
      border-bottom: 1px solid $almamons-blue;
    }
  }
  input{
    border-bottom: 1px solid $black-light;
    &::placeholder{
      color: $black-light;
      transition: .3s all ease;
    }
  }
  textarea{
    border-bottom: 1px solid $black-light;
    &::placeholder{
      color: $black-light;
      transition: .3s all ease;
    }
  }
  
  input[type="submit"]{
    background-color: $almamons-blue;
    border: none;
    color: $white;
    font-family: $sans-serif;
    text-transform: uppercase;
    padding: 15px 25px;
    width: 100%;
    &:hover{
      background-color: $almamons-light;
    }
  }
  .wpcf7-form-control{
    width: 100%;
  }
  aside{
    width: 100%;
    float: none;
  }
}

