footer{
  padding: 50px 0;
  img{
    width: 80px;
  }
  .social-links{
    margin-top: 84px;
    i{
      font-size: 25px;
      transition: .2s all ease;
      margin-right: 10px;
      &.fa-instagram{
        font-size: 29px;
        position: relative;
        top: 2px;
      }
      &:hover{
        color: $almamons-light;
      }
    }
  }
}