footer{
  padding: 50px 0;
  img{
    width: 100px;
  }
  .info{
    margin-top: 124px;
    @media (max-width: $medium){
      margin-top: 50px;
    }
  }
  .social-links{
    padding-top: 20px;
    a{
      &:hover{
        color: $almamons-light;
      }
    }
    i{
      font-size: 25px;
      transition: .2s all ease;
      margin-right: 10px;
      &.fa-instagram{
        font-size: 29px;
        position: relative;
        top: 2px;
      }
      &:hover{
        color: $almamons-light;
      }
    }
  }
}
.copyright{
  background-color: darken($almamons-dark, 2);
  text-align: center;
  padding: 7px 0;
  p{
    color: $white;
    margin: 0;
    font-size: 15px;
  }
}