@import 'vars';
/*header{
  ul{
    li{
      &:last-child{
        a{
          background-color:$almamons-dark;
          text-transform: uppercase;
          font-weight: 700;
          &:hover{
            background-color: $almanons-light;
          }
        }
      }
    }
  }
}*/
html,body{
  //overflow-x: hidden;
}

.logo{
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  @media (max-width: $extra-large){
    width: 100px;
  }
  img{
    padding-left: 15px;
  }
}

.navbar-toggler{
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  &:focus{
    outline: none;
  }
}
header{
  background-color: $almamons-dark;
  height: 58px;
  margin: 48px 0;
  z-index: 10;
  position: relative;
  @media (max-width: $extra-large){
    height: 48px;
    margin: 28px 0;
  }
  .menu-primary{
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  .navbar{
    padding: 0;
    z-index: 50;
    .navbar-toggler-icon{
      padding-top: 5px;
      background-image: none;
      i{
        font-size: 30px;
      }
    }
    li{
      transition: .2s all ease;
      &:hover{
        background-color: $almamons-light;
        a{
          color: $white;
          text-decoration: none;
        }
      }
    }
    #menu-top-bar{
      display: flex;
      justify-content: center;
      @media (max-width: $extra-large){
        display: block;
      }
    }
    ul{
      background-color: $almamons-dark;
      @media (max-width: $extra-large){
        margin-top: 48px;
        min-width: 260px;
      }
      @media (max-width: 380px){
        padding-top: 15px;
      }
      li{
        &:last-child{
          font-weight: 600;
          text-transform: uppercase;
        }
        @media (max-width: $extra-large){
          display: block;
        }
        a{
          display: inline-block;
          padding: 15px 20px;
          width: 100%;
        }
      }
    }
    
  }
  .menu-item-has-children{
    position: relative;
    .sub-menu{
      display: none;
      position: absolute;
      min-width: 240px;
      transition: .2s all ease;
      @media (max-width: $extra-large){
        position: relative;
        margin-top: 0;
        min-width: 260px;
      }
      li{
        display: block;
        transition: .2s all ease;
        &:first-child{
          @media (max-width: 380px){
            padding-top: 0;
          }
        }
        &:last-child{
          font-weight: 400;
          text-transform: none;
        }
        a{
          display: block;
          text-align: left;
          transition: .2s all ease;
          @media (max-width: $extra-large){
            margin-left: 10px;
          }
        }
        a:first-child{
          @media (max-width: $extra-large) {
            &:after{
              content: "";
            }
          }
        }
        &:hover{
          background-color: $almamons-light;
          a{
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
    &:hover{
      .sub-menu{
        display: block;
      }
    }
    a:first-child{
      @media (max-width: $extra-large) {
        &:after{
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f0d7";
          color: #fff;
          position: relative;
          margin-left: 10px;
        }
      }
    }
  }
}

.hero{
  margin-top: -155px;
  position: relative;
  z-index: -5;
  min-height: 300px;
  img{
    object-fit: cover;
    min-height: 300px;
    width: 100%;
  }
}

.avantura{
  font-weight: 600;
  margin-bottom: 40px;
}

.left{
  img{
    margin-bottom: 20px;
  }
}

h2.other{
  margin-top: 0;
  margin-bottom: 30px;
}
