.hero_default{
  height: 70vh;
  @media (max-width: $medium){
    height: 50vh;
  }
  h1{
    line-height: 70vh;
    color: $almamons-dark;
    font-weight: 600;
    @media (max-width: $medium){
      height: 50vh;
    }
  }
}