@import 'vars';
h1{
  font-size: $large-size;
  font-family: $sans-serif;
  color: $almamons-blue;
  margin-bottom: 20px;
}
h2{
  margin: 20px 0;
}
p{
  font-family: $serif;
  font-size: $base;
  label{
    font-size: 20px;
    display: block;
  }
}
a{
  color: $white;
  text-decoration: none;
  font-family: $sans-serif;
  font-size: $medium-size;
  &:hover{
    color: $white;
    text-decoration: none;
  }
}