/* VARIABLES */

/* COLORS */
$almamons-dark:         #043D21;
$almamons-light:        #8DC63F;
$almamons-blue:         #1B75BB;
$white:                 #fff;
$black-light:             #212529;


/* FONTS */
$sans-serif:              'Raleway', sans-serif;
$serif:                   'Merriweather', serif;

/* FONT-SIZE */
$large-size:  42px;
$medium-size: 22px;
$base: 18px;

/* BREAK POINTS */
$extra-large:             1200px;
$medium:                  768px;
$small:                   575px;