@charset "UTF-8";
/* VARIABLES */
/* COLORS */
/* FONTS */
/* FONT-SIZE */
/* BREAK POINTS */
/* VARIABLES */
/* COLORS */
/* FONTS */
/* FONT-SIZE */
/* BREAK POINTS */
h2 {
  margin: 20px 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}
a:hover {
  color: #fff;
  text-decoration: none;
}

/* VARIABLES */
/* COLORS */
/* FONTS */
/* FONT-SIZE */
/* BREAK POINTS */
/*header{
  ul{
    li{
      &:last-child{
        a{
          background-color:$almamons-dark;
          text-transform: uppercase;
          font-weight: 700;
          &:hover{
            background-color: $almanons-light;
          }
        }
      }
    }
  }
}*/
.logo {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
}
@media (max-width: 1200px) {
  .logo {
    width: 100px;
  }
}
.logo img {
  padding-left: 15px;
}

.navbar-toggler {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-toggler:focus {
  outline: none;
}

header {
  background-color: #043D21;
  height: 58px;
  margin: 48px 0;
}
@media (max-width: 1200px) {
  header {
    height: 48px;
    margin: 28px 0;
  }
}
header .menu-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar {
  padding: 0;
  z-index: 50;
}
header .navbar .navbar-toggler-icon {
  padding-top: 5px;
  background-image: none;
}
header .navbar .navbar-toggler-icon i {
  font-size: 30px;
}
header .navbar li {
  transition: 0.2s all ease;
}
header .navbar li:hover {
  background-color: #8DC63F;
}
header .navbar li:hover a {
  color: #fff;
  text-decoration: none;
}
header .navbar #menu-top-bar {
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  header .navbar #menu-top-bar {
    display: block;
  }
}
header .navbar ul {
  background-color: #043D21;
}
@media (max-width: 1200px) {
  header .navbar ul {
    margin-top: 48px;
    min-width: 260px;
  }
}
@media (max-width: 380px) {
  header .navbar ul {
    padding-top: 15px;
  }
}
header .navbar ul li:last-child {
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  header .navbar ul li {
    display: block;
  }
}
header .navbar ul li a {
  display: inline-block;
  padding: 15px 20px;
  width: 100%;
}
header .menu-item-has-children {
  position: relative;
}
header .menu-item-has-children .sub-menu {
  display: none;
  position: absolute;
  min-width: 240px;
  transition: 0.2s all ease;
}
@media (max-width: 1200px) {
  header .menu-item-has-children .sub-menu {
    position: relative;
    margin-top: 0;
    min-width: 260px;
  }
}
header .menu-item-has-children .sub-menu li {
  display: block;
  transition: 0.2s all ease;
}
@media (max-width: 380px) {
  header .menu-item-has-children .sub-menu li:first-child {
    padding-top: 0;
  }
}
header .menu-item-has-children .sub-menu li:last-child {
  font-weight: 400;
  text-transform: none;
}
header .menu-item-has-children .sub-menu li a {
  display: block;
  text-align: left;
  transition: 0.2s all ease;
}
@media (max-width: 1200px) {
  header .menu-item-has-children .sub-menu li a {
    margin-left: 10px;
  }
}
@media (max-width: 1200px) {
  header .menu-item-has-children .sub-menu li a:first-child:after {
    content: "";
  }
}
header .menu-item-has-children .sub-menu li:hover {
  background-color: #8DC63F;
}
header .menu-item-has-children .sub-menu li:hover a {
  color: #fff;
  text-decoration: none;
}
header .menu-item-has-children:hover .sub-menu {
  display: block;
}
@media (max-width: 1200px) {
  header .menu-item-has-children a:first-child:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    color: #fff;
    position: relative;
    margin-left: 10px;
  }
}

.hero {
  margin-top: -155px;
  position: relative;
  z-index: -5;
  min-height: 300px;
}
.hero img {
  object-fit: cover;
  min-height: 300px;
  width: 100%;
}

.avantura {
  font-weight: 600;
  margin-bottom: 40px;
}

.left img {
  margin-bottom: 20px;
}

h2.other {
  margin-top: 0;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
